@charset "UTF-8";

@blingWidth: 40px;

body {
    .adblock-tips {
        display: none !important;
    }

    .bling-dark {
        background: #000 !important;
    }

    .feed-card:has(.bili-video-card:not(.enable-no-interest)), .bili-video-card:not(.enable-no-interest) {
        display: none !important;
    }

    .bling-bling {
        position: fixed;
        right: @blingWidth;
        bottom: 30px;
        width: $right;
        height: auto;

        .bling-option {
            width: @blingWidth;
            height: $width;
            border: 1px solid #e3e5e7;
            border-radius: 8px;
            color: #18191c;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            margin-top: 6px;

            &.bling-option-selected {
                background: #00ceec;
                color: white;
            }
        }
    }
}
